# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# SQLite local DB (do NOT commit user data)
*.db
*.db-journal

# Native builds
/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Typescript
*.tsbuildinfo

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# Env files
.env
.env*.local

# Build caches
.cache/
tmp/
